
@{
    ViewBag.Title = "LabRequestList";
}

<script>
    $(document).ready(function () {
        debugger;
        $('#table').DataTable({
            responsive: true,
            "ajax": 'https://localhost:44378/LabRequest/LabRequestRead',
            "dataSrc": '',
            "columns": [

                { "data": "Id", className: "text-center" },
                { "data": "TestCode", className: "text-center" },
                { "data": "ParameterName", className: "text-center" },
                { "data": "ParameterType", className: "text-center" },
                { "data": "Unit", className: "text-center" },
                { "data": "Range", className: "text-center" },
                { "data": "IsActive", className: "text-center" },
                { "data": "Action", className: "text-center" }
            ],

            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o hoverback" style="color:blue;font-size: 20px;"></i>',
                    titleAttr: 'Copy'
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o hoverback" style="color:green;font-size: 20px;"></i>',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-text-o hoverback" style="color:purple;font-size: 20px;"></i>',
                    titleAttr: 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o hoverback" style="color:red;font-size: 20px;"></i>',
                    titleAttr: 'PDF'
                }
            ]


        });

    });
</script>



<div class="row">
<div class="row">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group row mb-2">
                <div class="col-lg-3">
                    <button id="addNew" type="button" onclick="EditCustomSetup()" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-animation="bounce" data-bs-target=".bs-example-modal-lg">+ Add New</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display" style="width:100%" id="table">
                        <thead class="thead-light">
                            <tr>
                                <td>Test Code</td>
                                <td>IRS Type</td>
                                <td>Urgent Type</td>
                                <td>Status</td>
                                <td>Special Instruction</td>
                                <td>Collection Date Time</td>
                                <td>Reporting Date time</td>
                                <td>Action</td>
                            </tr><!--end tr-->
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
</div><!--end row-->


