
@{
    ViewBag.Title = "SubSectionList";
}

<script>
    $(document).ready(function () {


        debugger;
        $('#table').DataTable({

            "ajax": 'https://localhost:44378/SubSection/SubSectionListRead',

            "dataSrc": '',
            "columns": [

                { "data": "Id", className: "text-center" },
                { "data": "Section", className: "text-center" },
                { "data": "SubSection", className: "text-center" },
                { "data": "ParameterType", className: "text-center" },
                { "data": "Description", className: "text-center" },
                { "data": "IsActive", className: "text-center" },
                { "data": "Action", className: "text-center" },

            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o hoverback" style="color:blue;"></i>',
                    titleAttr: 'Copy'
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o hoverback" style="color:green;"></i>',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-text-o hoverback" style="color:purple;"></i>',
                    titleAttr: 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o hoverback" style="color:red;"></i>',
                    titleAttr: 'PDF'
                }
            ]
        });

    });
</script>


<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Metrica</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item">
                        <a href="#">Hospital</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item active">All Sub Section</li>
                </ol>
            </div>
            <h4 class="page-title">All Parameters</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="table">
                        <thead  class="display" style="width:100%; color:black;">
                            <tr>
                                <th>Id</th>
                                <th>Section</th>
                                <th>Sub Section</th>
                                <th>Parameter Type</th>
                                <th>Description</th>
                                <th>Is Active</th>
                                <th  class="text-right">Action</th>
                            </tr>
                        </thead>
                       <tbody>

                       </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title mt-0" id="myLargeModalLabel">Add New Sub Section</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-sm-2 col-form-label text-end">Section</label>
                    <div class="col-sm-6">
                        <select class="form-select" aria-label="Default select example" id="parameterType">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-sm-2 col-form-label text-end">Sub Section</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" value="" id="testCode">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-sm-2 col-form-label text-end">Parameter Type</label>
                    <div class="col-sm-6">
                        <select class="form-select" aria-label="Default select example" id="parameterType">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-sm-2 col-form-label text-end">Description</label>
                    <div class="col-sm-6">
                        <textarea rows="3" placeholder="Description..." class="form-control"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-sm-2 col-form-label text-end">IsActve</label>
                    <div class=" col-sm-6">
                        <input type="checkbox" class="custom-control-input" id="horizontalCheckbox" data-parsley-multiple="groups" data-parsley-mincheck="2">
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-de-primary btn-sm text-light px-4 mt-3 mb-0">Save</button>
                    <button class="btn btn-de-danger btn-sm text-light px-4 mt-3 mb-0">Cancel</button>
                </div>

                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

